<template>
  <div class="page-container" id="page-container">
    <!-- <b-button v-b-toggle.sidebar-backdrop>Toggle Sidebar</b-button> -->
    <div class="recent-statistics">
    <div class="heading d-flex justify-content-between text-light py-3">
        <h6>TODAY STATISTICS</h6>
      </div>

      <div class="heading text-light cards-container">
        <div class="cards p-3 mr-3">
          <h2>1240</h2>
          <small>TRANSACTION</small>
         
        </div>
          <div class="cards p-3 mr-3">
          <h2>1240</h2>
          <small>INCOME</small>
        </div>
          <div class="cards p-3">
          <h2>1240</h2>
          <small>OUTCOME</small>
        </div>
      </div>
    </div>

    <div class="past-statistics ">
       <div class="heading d-flex justify-content-between text-light py-3 mt-5">
        <h6>TODAY STATISTICS</h6>
      </div>
      <div class="heading d-flex cards-container justify-content-between">
        <div class="graphs p-3 cards">
          <h2>1240</h2>
          <small>TRANSACTION</small>
        </div>
          <div class="graphs p-3 cards">
          <h2>1240</h2>
          <small>INCOME</small>
        </div>
          <div class="graphs p-3 cards">
          <h2>1240</h2>
          <small>OUTCOME</small>
        </div>
          <div class="graphs p-3 cards">
          <h2>1240</h2>
          <small>OUTCOME</small>
        </div>
      </div>

    </div>
    <!-- <canvas id="myChart"></canvas> -->
    <!-- <b-row>
      <b-col  cols="4">
        <b-skeleton-img></b-skeleton-img>
      </b-col>
      <b-col  cols="4">
        <b-skeleton-img></b-skeleton-img>
      </b-col>
      <b-col  cols="4">
        <b-skeleton-img></b-skeleton-img>
      </b-col>

      <b-col cols="12" class="mt-3">
        <b-skeleton-img no-aspect height="150px"></b-skeleton-img>
      </b-col>
    </b-row> -->
      
  </div>
</template>

<script>
import Sidebar from "./static/Navbar";
import Navbar from "./static/Navbar"
export default {

  data () {
    return {
      fromdate: '',
      toDate: '2020-10-06',
      formatted: '',
    //   form:  {}
    }
  },
  components: {
    Sidebar,
    Navbar
  }, 
  mounted(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: false,
                bacgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },
        // Configuration options go here
        options: {
        // scale:{
        //   ticks: {
        //       display: false
        //   }
        // },
        gridLines: false,
          
        responsive: true,
        }
    });
  },
  methods:{
      onContext(ctx) {
        // The date formatted in the locale, or the `label-no-date-selected` string
        this.formatted = ctx.selectedFormatted
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
