<template>
  <div id="app">
    <Navbar/>
    <Sidebar />
    <router-view/>
  </div>
</template>

<script>
import Sidebar from "./components/static/Sidebar";
import Navbar from "./components/static/Navbar"
export default {
  name: 'App',

  components: {
    Sidebar,
    Navbar
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
