@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
:root{
    --primary: #d71921;
    --secondary: #990c13;
    --light: #ffffff;
    --dark: #212529;
    --medium: #303840;
}

body{
    background: var(--dark);
}

input:focus{
    outline: var(--primary);
}


.page-container{
    width: calc(100% - 250px);
    float: right;
    padding: 40px 20px;
    position: relative;
    z-index: 1000;
    padding-top: 90px;
    
}

.navbar {
    background-color: var(--medium) !important;
    width: calc(100% - 250px);
    right: 0;
    position: fixed;
    z-index: 1001;
}

.fullscreen{
    width: 100% !important;
}

.navbar form{
    position: relative;
}

.navbar form input {
    padding-left: 30px;
}

.navbar .search-icon{
    position: absolute;
    left: 10px;
    top: 8px;
    color: #ccc;
}
.navbar .action-points span{
    position: relative;
}

.navbar .action-points .fa-envelope, 
.navbar .action-points .fa-bell {
    color: #CAC4AD;

}

.navbar .action-points .fa-user{
    border: 1px solid var(--primary);
    padding: 3px 6px;
    border-radius: 20px;
}

.navbar .action-points i {
    font-size: 23px;
   
}
.navbar .action-points .badge {
    font-size: 8px;
    padding: 4px 6px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: 15px;
}

.b-sidebar-body{
    background-color: var(--medium)!important;
}

.sidebar ul{
    padding: 0;
}

.sidebar ul a{
    color: var(--light);
    text-decoration: none !important;
}

.sidebar ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}

.sidebar ul .active {
    border-right: 3px solid var(--primary);
}

.sidebar ul .logout {
    position: absolute;
    bottom: 60px;
}

.vv-flex {
    
}
.vv-col, .vv-col2, .vv-col3, .vv-col4, .vv-col5 {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    flex: calc(100% / 5);
    position: relative;
    width: 100%;
    padding: 15px;
    box-sizing:border-box;
    text-align: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards {
    height: 100px;
    color: var(--light);
    background-color: var(--medium);
    flex-basis: 0;
    flex-grow: 1;
    /* width: 20vw; */
    /* max-width: 100%; */
    /* flex: calc(100% / 3); */
    position: relative;
    padding: 15px;
    box-sizing:border-box;
    border-radius: 10px;
    
}

.fullscreen .cards{
    flex-grow: 1;
    flex-basis: 0;
}

.graphs {
    height: 20rem;
    color: var(--light);
    margin-right: 20px;
    background-color: var(--medium); 
}

