<template>
  <div>
    <nav id="navbar" class="navbar navbar-light bg-light text-light justify-content-between shadow py-2">
    <span class="hambuger pointer" v-b-toggle.sidebar-backdrop><i class="fa fa-bars"></i></span>
    <form class="">
        <span class="search-icon"><i class="fa fa-search d-inline"></i></span>
        <input class="form-control mr-sm-2 rounded-pill" border-radius="lg" style="width:300px" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="action-points">
        <span class="mr-4"><i class="fa fa-envelope"></i> <span class="badge badge-secondary">5</span></span>
        <span class="mr-4"><i class="fa fa-bell"></i> <span class="badge badge-secondary">5</span></span>
        <span class="user mr-3">
            <i class="fa fa-user"></i>
            <div class="adnmi d-inline" >
                <small class="d-inline font-weight-bold ">Micheal Olalekan
                <!-- <small>Admin</small> -->
                </small>
            </div>
        </span>
        <span><i class="fa fa-angle-down"></i></span>
        
    </div>
     
    </nav>
  </div>
</template>

<script>
export default {

  data () {
    return {
        fullscreen: this.$store.state.ui_fullscreen,    
    }
  },
  mounted(){
      console.log(this.fullscreen);
  },

  watch:{
      fullscreen(newvalue, oldvalue){
          alert(newvalue)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
