<template>
  <div>
    <b-sidebar
      id="sidebar-backdrop"
      class="sidebar"
      text-variant="light"
      width="250px"
      no-header
      v-model="visible"
    >
      <!-- <img src="../../assets/img/logo.png"  style="width:150px; position:absolute; top: 10px; left: 10%"/> -->
      <template>
        <div class="py-5">
          <ul>
            <li class="py-2 pl-5 pointer mb-2 active"><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>
            <li class="py-2 mb-2 pl-5 pointer "><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>
            <li class="py-2 mb-2 pl-5 pointer "><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>
            <li class="py-2 mb-2 pl-5 pointer "><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>
            <li class="py-2 mb-2 pl-5 pointer "><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>
            <li class="py-2 mb-2 pl-5 pointer "><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>
            <li class="py-2 mb-2 pl-5 pointer "><router-link to="/" > <i class="fa fa-user mr-3"></i> Overview</router-link> </li>

            <li class="py-3 pl-5 pointer logout"><router-link to="/" > <i class="fa fa-user mr-3"></i> Log Out</router-link> </li>
          </ul>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        variant: 'dark',
        visible: true,
      }
    },
    watch: {
      visible(newvalue, oldvalue){
      let pageHeader = document.getElementById('navbar');
      let pageContainer = document.getElementById('page-container');
      setTimeout(()=>{
          pageHeader.classList.toggle('fullscreen');
          pageContainer.classList.toggle('fullscreen')

      },100)
    


      }
    }
  }
</script>

<style scoped>

</style>