<template>
  <div>
    <h1>Change Password</h1>
     <b-container class="bv-example-row pt-4">
        <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="4" >
                <b-form>
                    <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.email"
                            type="password"
                            required
                            placeholder="Old password"
                        ></b-form-input>
                    </b-form-group>

                     <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.email"
                            type="password"
                            required
                            placeholder="New paswwprd"
                        ></b-form-input>
                    </b-form-group>

                      <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.email"
                            type="password"
                            required
                            placeholder="Confirm new paswwprd"
                        ></b-form-input>
                    </b-form-group>

                    <b-button variant="">Submit</b-button>
                </b-form>
            </b-col>
            <b-col></b-col>
        </b-row>
    </b-container>
  </div>
</template>

<script>
export default {

  data () {
    return {
      form: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
