<template>
  <div>
    <h1>Login</h1>
   <b-container class="bv-example-row pt-4">
        <b-row class="text-center">
            <b-col></b-col>
            <b-col cols="4" >
                <b-form>
                     <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.fullname"
                            type="text"
                            required
                            placeholder="Fullname"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.email"
                            type="email"
                            required
                            placeholder="Enter email address"
                        ></b-form-input>
                    </b-form-group>

                     <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.password"
                            type="password"
                            required
                            placeholder="password"
                        ></b-form-input>
                    </b-form-group>
                     <b-form-group
                        id="input-group-1"
                    >
                        <b-form-input
                            v-model="form.phonenumber"
                            type="number"
                            required
                            placeholder="phone"
                        ></b-form-input>
                    </b-form-group>
                    <b-button variant="" @click="register">Log in</b-button>
                </b-form>
            </b-col>
            <b-col></b-col>
        </b-row>
    </b-container>
 
  </div>
</template>

<script>
export default {

  data () {
    return {
      form: {}
    }
  },

  methods: {
      async register () {
        //   console.log(this.form);
          this.$store.dispatch('register', this.form)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
